#header {
	margin-top: 30px;
}

#footer {
	margin-top: 30px;
	padding-top: 30px;
	color: #777777;
}

#body{
    h1{color:white;}
  .jumbotron{
    background-color: transparent;
    h1{
      color: white;
      text-align:right;
      position: relative;
      left: -2em;
      span{
        font-weight: 100;
      }
    }

  }
  .container.content{
    h1{
      color: $state-info-text;
    }
    background-color: rgba(255,255,255,.5);
    border-radius: 1em;
    padding: 2em;
    margin-bottom: 1em;
  }
}


body{
  background-image: url("/images/hong_kong_wake.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
}

.gallery-image img{
    display: block;
    max-width: 100%;
    height: auto;
}
